* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face { /* Calling in webfonts */
    font-family: 'Aspira';
    src: url('../assets/fonts/Aspira.woff2') format('woff2');
}
@font-face {
    font-family: 'PesaroLight';
    src: url('../assets/fonts/PesaroLight.woff2') format('woff2');
}
@font-face {
    font-family: 'JaneAust';
    src: url('../assets/fonts/JaneAust.woff2') format('woff2');
}
header {
    height: auto;
    display: flex;
    justify-content: center;
}
.journal {
    width: 30%;
    padding: 40px;
    font-size: 30px;
    margin: 40px 0;
}
h1 {
    margin: auto 0;
    font-size: 175px;
}
h1, h2 {
    font-family: 'PesaroLight', sans-serif;
}
/*------------ CENTER CONTENT ------------*/
.content {
    display: flex;
    justify-content: center;
}
.BLOCK-1, .BLOCK-2, .BLOCK-3 {
    height: 1000px;
}
.BLOCK-1 {
    width: 25%;
}
.volume {
    height: 120px;
    margin-top: 300px;
}
.BLOCK-2 {
    display: flex;
    justify-content: center;
    width: 50%;
}
.jelly {
    height: auto;
}
.BLOCK-3 {
    width: 25%;
}
.cursive {
    font-family: 'JaneAust', sans-serif;
    font-size: 20px;
    border: none;
    white-space: nowrap;
    text-transform: none;
    margin-top: 550px;
    margin-right: 50px;
}
.volume, .cursive {
    color: #a7a7a7;
    transform: rotate(-90deg); /* Rotation of Text */
}
h2 {
    font-size: 100px;
    position: relative;
}
span {
    font-size: 25px;
}
/*------------ END OF CENTER CONTENT ------------*/
.numb {
    width: 36%;
    margin: 40% 32% 0 32%;
    position: relative;
}
p {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
h2, p {
    text-transform: uppercase;
}
p {
    font-family: 'Aspira', sans-serif;
}
.date {
    height: auto;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 25px;
}
.journal, .date {
    text-align: center;
}
/* For Tablet Display */
@media only screen and (min-width: 401px) and (max-width: 900px) {
    h1 {
        font-size: 90px;
    }
    .journal {
        font-size: 15px;
    }
    .BLOCK-1, .BLOCK-2, .BLOCK-3 {
        height: 600px;
    }
    .volume {
        margin-top: 200px;
    }
    h2 {
        font-size: 75px;
    }
    .cursive {
        font-size: 16px;
        margin-top: 450px;
        margin-left: 20px;
    }
    .numb {
        width: 46%;
        margin: 27% 30% 0 27%;
    }
}
/* For Mobile Display */
@media only screen and (max-width: 400px) {
    h1 {
        font-size: 70px;
    }
    .journal {
        font-size: 15px;
        padding: 20px;
        margin: 10px;
    }
    .BLOCK-1, .BLOCK-2, .BLOCK-3 {
        height: 400px;
    }
    .date {
        font-size: 15px;
        padding: 5px;
    }
    h2 {
        font-size: 50px;
    }
    .volume {
        margin-top: 120px;
        margin-left: 20px;
    }
    .cursive {
        font-size: 10px;
        margin-top: 320px;
        margin-left: 40px;
    }
    .numb {
        width: 60%;
        margin: 0 40% 0 40%;
    }
}