<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advanced Typography</title>
    <link rel="stylesheet" href="../css/CSS_A3_TWO.css"/>
    <meta name="viewport" content="width=device-width" initial-scale="1"/>
</head>
<body>
    <header> <!-- Top Section (Medusa / Jellyfish Studies) -->
        <p class="journal">The Journal of Jellyfish Studies</p>
        <h1>Medusa</h1>
    </header>
    <div class="content"> <!-- Middle Section (Volume / Jellyfish / Latin Quote) -->
        <div class="BLOCK-1"> <!-- Volume -->
            <h2 class="volume">Volume</h2>
            <img src="../images/number.webp" alt="Number 2" class="numb"/>
        </div>
        <div class="BLOCK-2"> <!-- Jellyfish -->
            <img src="../images/C_quinquecirrha_3.webp" alt="A Jellyfish" class="jelly"/>
        </div>
        <div class="BLOCK-3"> <!-- Latin Quote -->
            <p class="cursive">Chrysaora quinquecirrha, Patrice Stephens-Bourgeault</p>
        </div>
    </div>

    <p class="date">May 2014</p> <!-- Bottom Section (May 2014) -->
</body>
</html>